

<%if(locals.user){%>
<h1>Add Contact....</h1>
<form method="post" action="/users/contactCreate/<%=user.id%>">
<input type="text" name="name" required placeholder="name">
<input type="number" name="number" required placeholder="+919898989898">
<input type="submit" value="Add contact">
</form>

<div>
<div class="container">
<div class="row">

  <%for(list of user.contact){%>
  <div class="col-12 bg-primary mt-2 text-light">
  
  Name: <%=list.contactName%> <br>
  Number : +<%=list.contactNumber%> <br>
  CountryPrefix : <%=list.countryPrefix%><br>


  Country : <%=list.countryCode%><br>
  Type : <%=list.type%><br>
  <a class="btn btn-warning" href="/users/deleteContact/<%=user.id%>/<%=indexStart%>">Delete Contact</a>
<%indexStart=indexStart+1%>
   </div>
   <%}%>

</div>
</div>
<div>
<script>

</script>

<%} else{%>
<div class="bg-primary">
<p class="text-white pl-3 h1">
Welcome to the platform ...
</p>
<p class="text-white pl-3 h1">
Save your contacts here..
</p>
</div>


<%}%>

<script>

</script>