<html>
 <head>
     <title>
    <%= title%>
    </title>
    <link rel="stylesheet" href="/css/layout.css">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">





  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous" />
    <%- style %>
   <style>
   	.popup{
    background: rgba(0,0,0,0.5);
    width:100%;
    height: 100%;
    position:absolute;
    top:0;
    display: none;
    position:center;
    justify-content:center;
    align-items:center;
    text-align: center;
    }
    .popup-content{
    height:250px;
    width: 500px;
    position : relative
    }
   </style>
 </head>
<body class="bg-warning">


<%- include('_header'); %>

   <%- body %>


  
 <%- script %>

</body>

</html>